<h1>CITIES.</h1>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @cities.each do |city| %>
    <li class="slide">
      <div class="display_tile">
        <%= link_to image_tag(city.image), city_path(city.id) %>
        <h2><%= city.name %></h2>
      </div>
    </li>
 <% end %>
</ul>
