.city_tile {
  width: 90%;
  height: 20vh;
  display: inline-block;
  background-color: $transblack;
  position: relative;

    img {
      width: 100%;
    }

    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      max-width: none;
    }
}