.display_tile {
  width: 90%;
  height: 20vh;
  display: inline-block;
  background-image: url;
  position: relative;
  overflow: hidden;
  border: 2px solid black;

    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      max-width: none;
    }
}