body {
  max-width: 960px;
  margin: 0 auto;  
  background-image: url('bg1.png');
  background-color: black;
  background-size: 960px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;

  a label {
    font-size: 20px;
    letter-spacing: -1px;
  }



  .item {
    padding: 10px 0px;
  }

  #signout {
    color: black;
    font-size: 20px;
    letter-spacing: -1px;
  }

  label {
    font-variant: small-caps;
    color: white;
    font-weight: bolder;
    font-size: 18px;
  }  

  a {
    font-variant: small-caps;
    color: white;
    font-weight: bolder;
    margin: 15px;
  }

  h1 {
    clear: both;
    float: right;
    padding-right: 5%;
    font-size: 80px;
    line-height: 80px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: black;
  }

  h2 {
    clear: both;
    float: right;
    padding-right: 5%;
    color: black;
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: bolder;
  }

  form .field input {
    width: 300px;
    color: black;
  }  

  #user_remember_me {
    width: 10px;
  }

  .login-header {
    clear: both;
    padding-bottom: 10px;
  }

  .login {
    clear: both;
    background-color: $translucent;
    position: absolute;
    bottom: 20px;
    width: 100%;

    input {
      background: none;
      border: 3px solid white;
      font-variant: small-caps;
      color: white;
      font-weight: bolder;
      font-size: 18px;
      margin: 5px auto;
    }
  }

  .signup {
    clear: both;
    background-color: $translucent;
    position: absolute;
    bottom: 20px;
    width: 100%;

    input {
      background: none;
      border: 3px solid white;
      font-variant: small-caps;
      color: white;
      font-weight: bolder;
      font-size: 18px;
      margin: 5px auto;
    }
  }

}

@media only screen and (max-width: 960px) {
  body {
    background-size: 100%;

    a label {
      font-size: 14px;
      padding: 5px 0px;
      letter-spacing: -0.6px;
    }

    h1 {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -4px;
    }

    #signout {
      color: black;
      font-size: 14px;
      letter-spacing: -0.6px;
    }
  }
}

