.content {
  background-image: url('bg1.png');
  background-size: 960px;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
  border: 4px solid black;
  z-index: -2;
  box-sizing: border-box;
  overflow: hidden;

  h1 {
    border-bottom: 0;
    background-image: none;
    color: white;
  }

  h2 {
    color: white;
    padding: 0;
    margin: 0;
  }

}

label {
  font-variant: small-caps;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}  

a {
  font-variant: small-caps;
  color: white;
  font-weight: bolder;
  margin: 15px;
}

a.add_nested_fields, a.remove_nested_fields {
  color: black;
  border: 2px solid black;
  padding: 4px;
}

p {
  margin-bottom: 4px;
}

form {
  .field {
    input {
    width: 300px;
    color: black;
    background-color: white;
    } 

    .datetime {
      select {
        margin: 0;
        width: 50px;
      }

      p {
        display: none;
      }
    }
  }

  h2 {
    float: none;
    padding-top: 30px;
  } 
}

.btn {
  margin-bottom: 20px;
}

#user_remember_me {
  width: 10px;
}

#signout {
  color: black;
  font-size: 20px;
  letter-spacing: -1px;
}

.login-header {
  clear: both;
  padding-bottom: 10px;
}

.formblock {
  clear: both;
  background-color: $transblack;
  position: absolute;
  bottom: 20px;
  width: 99.5%;

  input {
    background: none;
    border: 3px solid white;
    font-variant: small-caps;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin: 5px auto;
  }
}

.newvideo {

  .formblock {
    position: relative;
    display: inline-block;
    bottom: none;
    margin-top: 15px;
    background: none;

    .videoform {
      border-bottom: 4px;
    }

    form {
      .actions {
        input {
          color: black;
          border: 2px solid black;
          font-size: 30px;
        }
      }

      .field {
        label {
          color: black;
          padding: 5px 0px;
        }

        select {
          color: black;
          width: 300px;
          border: 2px solid black;
          // background: none;

        }

        textarea {
          color: black;
          width: 300px;
          border: 2px solid black;
          margin: 0 auto;
        }

        input {
          color: black;
          width: 300px;
          border: 2px solid black;        
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .content {
    background-image: url('bg2.png');
  }
}

@media only screen and (max-width: 960px) {
  body {

    .content {
      background-size: 100%;
      border: 0;

    }

    a label {
      font-size: 14px;
      padding: 5px 0px;
      letter-spacing: -0.6px;
    }

    #signout {
      color: black;
      font-size: 14px;
      letter-spacing: -0.6px;
    }

    .formblock {
      width: 100%;

    }
  }
}