.home_videos {
  color: black;

  .videobox {
    background-color: rgba(255,255,255,0.8);
    width: 900px;
    display: inline-block;
    margin: 10px auto;

    h2 {
      font-size: 30px;
      letter-spacing: -2px;
      display: inline-block;
      text-align: right;
      padding: 20px;  
    }

    h3 {
      font-size: 20px;
      letter-spacing: -1px;
      display: inline-block;
      text-align: right;
      padding: 0px 20px;  

    }

    .left {
      float: left;
      margin: none;
      padding: none;
      width: 450px;
      display: inline-block;

      iframe {
        width: 400px;
        height: 225px; 
        margin: 10px;
        border: 4px solid black;
      }
    }

    .right {
      float: right;
      width: 450px;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 960px) {
  .home_videos {
    .videobox {
      width: 95vw;

      h2 {
        font-size: 20px;
        letter-spacing: -1px;
        padding: 5px;  
      }

      h3 {
        display: none;
      }

      .left {
        width: 47.5vw;

        iframe {
          width: 42vw;
          height: 23.6vw; 
          margin: 5px;
          border: 2px solid black;
        }
      }

      .right {
        width: 47.5vw;
      }
    }
  }
}