h2 {
  clear: none;
  font-size: 30px;
  letter-spacing: -2px;
  display: inline-block;
  text-align: right;
  padding: 20px;  
}

h3 {
  font-size: 20px;
  letter-spacing: -1px;
  display: inline-block;
  text-align: right;
  padding: 0px 20px;  

}

.userinfo {
  text-align: center;
  position: inline-block;  
  height: 100px;
  margin: 0 auto;
  top: 50px;

  img {
    max-height: 90px;
    max-width: 90px;
    float: left;
    border: 3px solid black;
    margin: 5px auto;
  }

  .usernamefame {
    display: inline-block;

    h3, p {
      padding: 10px;
      margin: 0;
    }

    form {
      input {
        background: none;
        border: 2px solid black;
        font-weight: bolder;
        letter-spacing: -1px;
      }
    }
  }
}

.videobox {
  width: 900px;
  display: inline-block;
  padding-top: 1%;

  .left {
    overflow: hidden;
    padding: 0;
    width: 400px;
    height: 225px;
    position: relative;

    img {
      width: 400px;
      height: 300px; 
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .right {
    position: relative;
    padding: 0;

    h2, h3 {
      float: left;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    h3 {
      clear: both;
    }

    p {
      clear: both;
      float: left;
      margin: 0;
    }

    form {
      input {
        background: none;
        border: 2px solid black;
        font-weight: bolder;
        letter-spacing: -1px;
        clear: both;
        float: left;
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (min-width:640px) {

  .videobox {
    .right {

      h2, h3, p {
        margin-bottom: 10px;
      }
    }
  }
}


@media only screen and (max-width: 960px) {

  .userinfo {
    width: 200px;
    height: 80px;

    img {
      max-height: 70px;
      max-width: 70px;
      float: left;
      border: 3px solid black;
      margin: 5px;
    }

    .usernamefame {
      padding: 5px;

      h3, p {
        padding: 0px;
        margin: 0;
      }
    }
  }

  .home_videos {
    .videobox {
      width: 95vw;

      h2 {
        font-size: 18px;
        letter-spacing: -1px;
      }

      h3 {
        display: none;
      }

      .left {
        width: 40vw;
        height: 22.5vw; 

        img {
          width: 40vw; 
          height: 30vw;       
        }
      }
    }
  }
}