body {
  max-width: 960px;
  margin: 0 auto;  
  background-color: white;
  background-size: 960px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;

  h1 {
    clear: both;
    text-align: right;
    padding-right: 5%;
    font-size: 80px;
    line-height: 80px;
    font-weight: bolder;
    letter-spacing: -7px;
    color: black;
    margin: 0;
    margin-bottom: 1%;
    border-bottom: 4px solid black;
    background-image: url('board.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  h2 {
    float: right;
    padding-right: 5%;
    color: black;
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: bolder;
  }

  p {
    letter-spacing: -1px;
  }

  .navigation {
    border-bottom: 4px solid black;
  }

  a label {
    font-size: 20px;
    letter-spacing: -1px;
  }

  .item {
    padding: 10px 0px;
  }

  footer {
    color: white;
    // border-top: 4px solid black;
  }
}



.slide {
  display: none;
}

@media only screen and (max-width: 960px) {
  body {

    h1 {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -4px;
      border-bottom: 2px solid black;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -2px;
    }

    .navigation {
      border-bottom: 2px solid black;
    }

    .item {
      padding: 0px;
    }
  }
}