body {
  max-width: 960px;
  margin: 0 auto;  
  background-image: url('bg1.png');
  background-color: black;
  background-size: 960px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;

  h1 {
    clear: both;
    float: right;
    padding-right: 5%;
    font-size: 80px;
    line-height: 80px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: black;
  }

  h2 {
    clear: both;
    float: right;
    padding-right: 5%;
    color: black;
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: bolder;
  }

  a label {
    font-size: 20px;
    letter-spacing: -1px;
  }

  .item {
    padding: 10px 0px;
  }

  #signout {
    color: black;
    font-size: 20px;
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 960px) {
  body {
    background-size: 100%;

    h1 {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -4px;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -2px;
    }
  }
}