.videoshow {
  clear: both;
  text-align: left;
  margin-left: 30px;

  h2 {
    padding: 0;
    float: left;
  }

  a {
    color: black;
    border: 2px solid black;
    margin-top: 10px;
    padding: 0 2px;
  }

  p {
    clear: both;
    margin-bottom: 5px;
    padding: 0;
  }

  h3 {
    clear: both;
    font-weight: bolder;
    float: left;
    font-size: 24px;
    padding: 0;
  }
}

iframe {
  width: 900px;
  height: 522px;
  border: 5px solid black;
  margin-top: 30px;
}

@media only screen and (max-width: 960px) {
  iframe {
    width: 100%;
    height: 56.25vw;
  }
}