<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Ollie</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
  
    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'users', root_path %></li>
        <li><%= link_to 'new video', root_path %></li>
        <li><%= link_to 'logout', root_path %></li>
      </ul>
    </section>
  </nav>
</div>