<div class="navigation">
  <div class="icon-bar five-up">
    <a class="item" href="/">
    <%= image_tag 'svgs/fi-home.svg' %>
    </a>
    <a class="item" href="/about">
      <label>ABOUT</label>
    </a>
    <a class="item" href="/users">
      <label>MATES</label>
    </a>
    <a class="item" href="/videos">
      <label>VIDEOS</label>
    </a>
    <a class="item" data-method="delete" href="/users/sign_out">
      <label>LEAVE</label>
    </a>
  </div>
</div>

