<div class="navigation">
  <div class="icon-bar five-up">
    <a class="item">
      <img src="../assets/img/images/fi-home.svg" >
      <label>HOME</label>
    </a>
    <a class="item">
      <img src="../assets/img/images/fi-bookmark.svg" >
      <label>FRIENDS</label>
    </a>
    <a class="item">
      <img src="../assets/img/images/fi-info.svg" >
      <label>VIDEOS</label>
    </a>
    <a class="item">
      <img src="../assets/img/images/fi-mail.svg" >
      <label>ADD VIDEO</label>
    </a>
    <a class="item">
      <img src="../assets/img/images/fi-like.svg" >
      <label>SIGN OUT</label>
    </a>
  </div>
</div>