<div class="navigation">
  <div class="icon-bar five-up">
    <a class="item" href="/home">
    <%= image_tag 'svgs/fi-home.svg' %>
    </a>
    <a class="item" href="/about">
      <label>ABOUT</label>
    </a>
    <a class="item" href="/users">
      <label>MATES</label>
    </a>
    <a class="item" href="/videos">
      <label>VIDEOS</label>
    </a>
    <div class="item" id="signout">
      <%= link_to 'LEAVE', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>